[Unit]
Description=Transmission BitTorrent client
After=caddy.container
Requires=caddy.container

[Container]
Image=lscr.io/linuxserver/transmission:latest
ContainerName=transmission

AutoUpdate=registry
Label=homepage.description=BitTorrent client
Label=homepage.group=Media
Label=homepage.href=https://transmission.{{ my_domain }}
Label=homepage.icon=transmission.png
Label=homepage.name=Transmission
Network=internet.network
Network=webserver.network
ReadOnly=true
Volume=transmission-data.volume:/config:Z
Volume=/media/data/server/arr/torrents:/arr/torrents:Z

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
