[Unit]
Description=Authelia Authentication Service
After=lldap.container postgresql.container valkey.container postfix.container
Requires=lldap.container postgresql.container valkey.container
Wants=postfix.container

[Container]
Image=docker.io/authelia/authelia:latest
ContainerName=authelia

AutoUpdate=registry
Environment=AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD_FILE=/run/secrets/authelia_ldap_user_password
Environment=AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET_FILE=/run/secrets/authelia_jwt_secret
Environment=AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE=/run/secrets/authelia_storage_encryption_key
# Environment variables are more convenient to configure services,
# unfortunately not every configuration entry has the equivalent env var in Authelia.
# For now, we have to rely on configuration.yml.
Environment=MY_BASE_DN={{ my_base_dn }}
Environment=MY_DOMAIN={{ my_domain }}
Environment=X_AUTHELIA_CONFIG_FILTERS=template
HealthCmd=/app/healthcheck.sh
HealthInterval=30s
HealthTimeout=3s
Label=homepage.group=Admin
Label=homepage.name=Authelia
Label=homepage.href=https://authelia.{{ my_domain }}
Label=homepage.icon=authelia.png
Label=homepage.description=Authentication and authorization
Network=authentication.network
Network=postfix.network
Network=postgresql.network
Network=valkey.network
Notify=healthy
Secret=authelia_jwt_secret
Secret=authelia_ldap_user_password
Secret=authelia_oidc_private_key
Secret=authelia_session_secret
Secret=authelia_storage_encryption_key
Secret=mealie_client_secret
Secret=nextcloud_client_secret
Volume=./authelia/configuration.yml:/config/configuration.yml:ro,Z

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
