---
- name: Create secrets of {{ quadlet_name }}
  containers.podman.podman_secret:
    name: "{{ quadlet_name | upper }}_{{ item | basename }}"
    data: "{{ lookup('file', '{{ item }}') }}"
    skip_existing: true
  with_fileglob:
    - "containers/{{ quadlet_name }}/secret/*"

- name: Copy config of {{ quadlet_name }}
  ansible.builtin.copy:
    src: "{{ src }}"
    dest: "{{ quadlet_install_dir }}/{{ quadlet_name }}/"
    mode: preserve
  when: src is directory
  vars:
    src: "{{ playbook_dir }}/containers/{{ quadlet_name }}/conf/"

- name: Copy Podman files of {{ quadlet_name }}
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "{{ quadlet_install_dir }}/{{ item | basename }}"
    mode: preserve
  with_fileglob:
    - "containers/{{ quadlet_name }}/*.container"
    - "containers/{{ quadlet_name }}/*.volume"

- name: Copy extra Systemd files of {{ quadlet_name }}
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ containers_home }}/.config/systemd/user/"
    mode: preserve
  with_fileglob:
    - "containers/{{ quadlet_name }}/*.socket"
