[Unit]
Description=Caddy web server

[Container]
Image=docker.io/caddy:alpine
ContainerName=caddy

AutoUpdate=registry
Environment=MY_DOMAIN={{ my_domain }}
Network=authentication.network
Network=internet.network
Network=webserver.network
NetworkAlias=authelia.{{ my_domain }}
NetworkAlias=ha.{{ my_domain }}
Notify=true
User=root
Volume=./caddy:/etc/caddy:ro,Z
Volume=caddy-data.volume:/data:Z

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
