[Unit]
Description=Restic backup service
[Service]
Type=oneshot
ExecStartPre=notify-send -u low -c transfer -i state-information -a 'Automatic backup' 'Backup starting'
ExecStart=restic backup \
    --verbose \
    --one-file-system \
    --tag systemd.timer \
    $EXCLUDED $PATHS
ExecStartPost=restic forget \
    --verbose \
    --tag systemd.timer \
    --group-by "paths,tags" \
    --keep-daily $KEEP_DAYS \
    --keep-weekly $KEEP_WEEKS \
    --keep-monthly $KEEP_MONTHS \
    --keep-yearly $KEEP_YEARS
ExecStartPost=notify-send -u low -c transfer.complete -i state-ok -a 'Automatic backup' 'Backup complete'
EnvironmentFile=%E/restic-backup.conf
