[Unit]
Description=Zigbee2MQTT

[Container]
Image=ghcr.io/koenkk/zigbee2mqtt:latest
ContainerName=z2m

AddDevice=/dev/ttyUSB0:/dev/ttyUSB0
AutoUpdate=registry
GroupAdd=keep-groups
Network=mqtt.network
Network=internet.network
Volume=/etc/localtime:/etc/localtime:ro
Volume=/run/udev:/run/udev:ro
Volume=z2m-data.volume:/app/data:z

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
