[Unit]
Description=Home Assistant
After=mosquitto.container
Wants=mosquitto.container

[Container]
Image=ghcr.io/home-assistant/home-assistant:stable
ContainerName=homeassistant

AutoUpdate=registry
Label=homepage.group=Smart Home
Label=homepage.name=Home Assistant
Label=homepage.href=https://homeassistant.{{ my_domain }}
Label=homepage.icon=home-assistant.png
Label=homepage.description=Home automation
Network=internet.network
Network=mqtt.network
Network=webserver.network
Volume=/etc/localtime:/etc/localtime:ro
Volume=/run/dbus:/run/dbus:ro,z
Volume=homeassistant-data.volume:/config:z

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
