name: ansible-lint
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  build:
    name: Ansible Lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v25.12.0
        with:
          args: "desktop/deploy.yaml server/deploy.yaml"
          requirements_file: "requirements.yaml"
